# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Server C#
server/bin/
server/obj/
server/.vs/
server/**/*.user
server/firebasekey.json
server/appsettings.local.json

# General
.DS_Store
*.log